.headline {
    text-align: center;
    font-size: 4rem;
    padding: 20px;
    background-color: #8597a9;
    font-family: sans-serif;
    font-weight: bold;
}

.headline .logo {
    position: absolute;
    left: 50px;
    top: 1.7%;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #8597a9;
}

.alcim {
    margin: 30px;
}

.wrapper {
    width: 230px;
    height: 150px;
    margin: 20px;
    padding: 10px;
}